//- mentions legales.pug

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Psychopo
    meta(name='description', content='tentative de compréhension de nos subconscients')
    meta(name='author', content='charlyoleg')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/psychopo_style.css?v=1.0')
    //-link(rel='manifest', href='/manifest.json')
    link(rel='icon', type='image/svg+xml', href='/psychopo_favicon.svg')
    link(rel='icon', type='image/png', sizes="64x64", href='/psychopo_favicon_64x64.png')
    link(rel='icon', type='image/png', sizes="256x256", href='/psychopo_favicon_256x256.png')
  body

    header
      a.logo(href="/")
        img(src="/psychopo_favicon.svg")
      h1
        span.psycho Psycho
        span.po po

    main
      h1 Mentions légales
      p
        a(href='https://www.psychopo.ovh') www.psychopo.ovh
        |
        | est un site non professionnel hébergé par
        |
        a(href='https://www.ovh.com/fr/support/mentions-legales/') OVH
        | . OVH SAS est une filiale de la société OVH Groupe SAS,
        | société immatriculée au RCS de Lille
        | sous le numéro 537 407 926 sise 2,
        | rue Kellermann, 59100 Roubaix.
      p Ce site n'utilise pas de cookies.
      p Ce site ne collecte pas vos données personnelles.

